<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>83890055919-mg0ak3a5dq7iqgmgj79v21qk3vgma9mk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.83890055919-mg0ak3a5dq7iqgmgj79v21qk3vgma9mk</string>
	<key>API_KEY</key>
	<string>AIzaSyAWWte-sYSjCwG08YhI0fXO6AZyth0bsc8</string>
	<key>GCM_SENDER_ID</key>
	<string>83890055919</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.genesis</string>
	<key>PROJECT_ID</key>
	<string>discussion-72c5c</string>
	<key>STORAGE_BUCKET</key>
	<string>discussion-72c5c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:83890055919:ios:64e652e448103cd16f491a</string>
</dict>
</plist>